* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.calculator {
    width: 400px;
    height: auto;
    margin: 70px auto;
    background-color: bisque;
}
.upperPart {
    height: 150px;
    background-color: green;
    position: relative;
}
.upperPart .unit {
    position: absolute;
    top: 10px;
    left: 20px;
}

.buttonsPart{
    height: 400px;
    background-color: gray;
}
.buttonsPart section {
    float: left;
    display: flex;
}
.keys .column {
    display: flex;
    flex-grow: 1;
}
.keys .column, .operators {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keys .column span, .operators span {
    padding: 15px;
}